    

body {
    /* background-image: url("img/background.jpg"); */
    /* background-image: url("img/Walker.jpg"); */
    /* background-color: lightgray; */
    background-image: url("https://i.imgur.com/Aa3WNuF.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#answer {
    font-size: 70px
    
}

#usedletters {
    font-size: 30px
    
}

.mike {
    width: 375px;
    height: 500 rpx;
}

#nav {
    color: red;
}

#win {
    color: darkred;
    font-size: 50px;
}



    