    

body {
    /* background-image: url("img/background.jpg"); */
    background-image: url("img/walker.jpg");
    /* background-color: lightgray; */
    background-repeat: no-repeat;
    background-size: cover;
    
}

#answer {
    font-size: 70px
    
}

.mike {
    width: 375px;
    height: 500 rpx;
}

#nav {
    color: red;
}




    